article :first-of-type {
    font-size: 140%;
    font-style: italic;
}

article :last-of-type {
    font-weight: bold;
}

a:link, a:visited {
    color: dodgerblue;
}

a:hover, a:focus {
    color: deeppink;
}

ul li:nth-child(odd){
    color: deeppink ;
}

ul li:nth-child(3n){
    color: dodgerblue ;
}