<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <header>
      <h1>Layout</h1>
    </header>
    <ol>
      <li>
        <h2>Margin vs Padding</h2>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <article class="explanation">
          <div>
            <p>
              The correct way to use margin and padding is to use margin for
              spacing outside of elements and padding for spacing inside of
              elements. 0
            </p>
          </div>
        </article>
      </li>
      <li>
        <h2>Sizing Elements</h2>
        <div class="box" id="box1"></div>
        <div class="box" id="box2"></div>
        <span class="box" id="box3"></span>
        <span class="box" id="box4"></span>
      </li>
      <li>
        <h2>Overflowing</h2>
        <div class="box_v">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe officia possimus maiores veniam sint delectus atque dignissimos accusamus a vel. Beatae, earum alias, distinctio quam quisquam aspernatur aliquid adipisci tempore consequatur, recusandae expedita voluptates. Inventore a, incidunt dolores sed fuga voluptate eum quos laboriosam quaerat quisquam odio. Quibusdam, ab at?Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nisi necessitatibus eveniet hic quidem at perspiciatis alias repellendus, ab fugiat est amet accusamus facilis facere reprehenderit pariatur fugit praesentium earum dolor nam odio magnam. Culpa amet laborum beatae nihil unde architecto dolorem omnis odit illo? Obcaecati esse aliquid tempora magni?
        </div>
      </li>
      <li>
        <h2>Measurement</h2>
        <img src="images/measurements.png"></img>
        <img src="images/measurements-2.png"></img>\
        <img src="images/measurements-3.png"></img>
        <img src="images/measurements-4.png"></img>
        <img src="images/measurements-5.png">THE FAVORITE</img>
    </ol>
  </body>
</html>
